header {
  display: flex;
  background-image: url(/image/header-bg.png);
  height: 900px;
  position: relative;
}

.logo {
  display: flex;
  position: relative;
  margin-top: 57.34px;
  margin-left: 216.04px;
}

#img1 {
  margin-right: -5px;
}

#img3 {
  margin-left: -5px;
}

.menu_item {
  display: inline-flex;
  text-align: center;
  margin-top: 35px;
  padding: 20px;
  color: white;
}

.menu_item:hover {
  background-color: white;
  color: black;
  transition: 2s;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: black;
  transition: 2s;
}
