body {
  background-image: url(image/header-bg.png);
  background-size: auto;
  background-repeat: no-repeat;
}

div {
  display: inline;
}

#img1 {
  position: absolute;
  margin-left: 215.3px;
  margin-top: 57px;
  margin-bottom: 795.06px;
}

#img2 {
  position: absolute;
  margin-left: 225px;
  margin-top: 57.34px;
  margin-bottom: 828.39px;
}

#img3 {
  position: absolute;
  margin-left: 232.89px;
  margin-top: 57px;
  margin-bottom: 795.06px;
}

.nav {
  background: none;
  text-decoration: none;
  color: white;
  border: none;
}

.nav:hover {
  color: black;
  transition: 2s;
}

#home {
  position: absolute;
  margin-left: 316px;
  margin-top: 71px;
}
#home:hover {
  background-color: white;
  width: 60px;
  height: 60px;
  transition: 2s;
}

#about {
  position: absolute;
  margin-left: 391px;
  margin-top: 71px;
}

#about:hover {
  background-color: white;
  width: 80px;
  height: 60px;
  transition: 2s;
}

#tick {
  position: absolute;
  margin-left: 470px;
  margin-top: 71px;
}

#cont {
  position: absolute;
  margin-left: 559px;
  margin-top: 71px;
}

#tel {
  position: absolute;
  margin-left: 1100px;
  margin-top: 55px;
  color: white;
}

h2 {
  position: absolute;
  color: white;
  margin-top: 321px;
  margin-left: 216px;
}
