* {
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
header {
 height: 100vh;
 background-repeat: no-repeat;
 background-position: center;
 background-image: url("background.jpg");
 background-size: cover ;
}

h3{
  font-size: 64px;
  color: white;
  font-style: bold;
}

h1{
  font-size: 24px;
  color:grey;
  font-style: bold;

}

h2{
  font-size: 18px;
  color: black;
  font-style: bold;
}

section{
  font-size: 14px;
  color: black;
  font-style: regular;
}