* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-size: auto;
  background-color: #d0db6e;
}
img {
  position: absolute;
  display: flex;
  width: 867px;
  left: 783px;
  top: 0px;
  border-radius: 0 0 110px 110px;
  z-index: 3;
}
#colorBlock {
  position: absolute;
  background-color: #9fbfc1;
  width: 864px;
  height: 1117px;
  top: 0px;
  left: 864px;
  z-index: 2;
}
.ic {
  height: 38px;
  width: 38px;
}
.icons {
  display: flex;
  height: 39px;
  width: 134px;
  justify-content: space-between;
  align-items: center;
}
.menu {
  position: relative;
  margin-top: 78px;
  margin-left: 100px;
  z-index: 4;
  display: flex;
  height: 39px;
  width: 1508px;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  height: 23px;
  width: 811px;
}

h3 {
  font-family: "Gilroy", normal;
  font-size: 20px;
  color: #332f2f;
  font-weight: 400;
}

.name {
  display: flex;
  flex-direction: column;
  width: 467px;
  height: 300px;
  align-items: flex-start;
  margin-left: 100px;
  margin-top: 108px;
}

h1 {
  font-family: "Felix Titling", normal;
  font-size: 128px;
  color: #954d4d;
  font-weight: 100;
}

.container {
  display: flex;
  width: 593px;
  height: 78px;
  margin-top: 36px;
  margin-left: 100px;
}

h4 {
  font-family: "Gilroy", normal;
  font-size: 20px;
  color: #332f2f;
  font-weight: 400;
  line-height: 125%;
}

Button {
  display: flex;
  background-color: white;
  height: 78px;
  width: 250px;
  border-radius: 64px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  margin-top: 114px;
}
h2 {
  font-family: "Gilroy", normal;
  font-size: 24px;
  color: #954d4d;
  font-weight: 400;
  margin: 0;
}
